body{
    background-color: lawngreen;
}

h1{
    color: turquoise;
    background-color:steelblue;
    float: top;
    margin: 0;
    height: 45px;
}

#show_sketch{
    float:right;
    margin:0;
    margin-top: 5px;
    background:darkturquoise;
    color: black;

}

#show_sketch:hover{
    background-color:aquamarine;
    color: black;
}

p{
padding-top: 10px;
font-size: 25px;
color:darkcyan;
font-weight: bold;
font-family: 'Fruktur', cursive;
font-family: 'Playfair Display', serif;
}

canvas{
border-radius: 20px;
border:5px solid white;
animation-name: ani;
animation-duration: 4s;
margin-top: 50px;
animation-iteration-count: infinite;
}

@keyframes ani{
from{box-shadow:1px 1px 45px darkred ;}
to{box-shadow:1px 1px 45px blue;}
}